#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: 2px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cell:active {
  background-color: #f7f7f7;
  color: #333;
}

.x {
  color: #3498db;
}

.o {
  color: #e74c3c;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  margin: auto 10px;
  font-size: 1rem;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* button:hover {
  background-color: #2980b9;
} */

.win-message {
  position: absolute;
  top: 30%;
  left: 30%;
  background-color: #bdbebd;
  color: white; 
  font-size: 1rem; 
  font-weight: bold; 
  padding: 10px; 
  text-align: center; 
  border: 2px solid black; 
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  width: 100%; 
  max-width: 500px; 
  margin: auto; 
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; 
}

.win-message.show {
  opacity: 1;
  transform: scale(1);
}

.win-message.hidden {
  opacity: 0;
  transform: scale(0.95);
}

